# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and system files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
